*::before,
*::after {
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}


header {
    display: flex;
    min-height: 70px;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
}

.logo {
display: flex;
align-items: center;
}

.logo-img {
height: 100px;

}

a {
    text-decoration: none;
    color: black;

}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;
}

@media (max-width:700px){
heder{
    flex-direction: column;
}
nav {
    padding: 10px;
    padding: 0px;

}
}